.register {
    height: 300px;
}

footer {
    height: 400px;
}

@media screen and (min-width:576px) and (max-width:767px){



    .banner-info h2 {
        font-size: 20px;
        margin-top: 30px !important;
        width: 300px;
    }

    .btn{
        font-size: 15px;
        padding: 0;

    }
    .banner-info p {
        font-size: 15px;
        width: 500px !important;

    }

    


    
  
}


@media screen and (min-width:768px) and (max-width:991px) {
    .explore-info{
        width: 100%;
    }

    .explore-info h1{
        font-size: 20px;
        margin-top: 2px !important;
    }
    .explore-info p{
        font-size: 12px;
        padding-top: 3px !important;
    }
    .online-course{
        margin-top: 0px !important;
    }
    .course-btn{
        margin-top: 0px !important;
    }
}
